<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Django Project </title>
</head>
<body>
       <h1>UBER Rides Predictor </h1>
        <hr/>
         <form action="{% url 'test' %}" method="post">
             {% csrf_token  %}
             Enter Price Per Week
             <input type="number" name="ppw" placeholder="Enter Price Per Week"/><br/><br/>
             Enter Population
             <input type="number" name="pn" placeholder="Enter Population"/><br/><br/>
             Enter Monthly Income
             <input type="number" name="mi" placeholder="Enter Monthly Income"/><br/><br/>
             Enter Average Parking Per Week
             <input type="number" name="appw" placeholder="Enter Average Parking Per Week"/><br/><br/>
             <input type="submit" value="Predict"/>
             <br/><br/>
             <hr/>
             <table border="2">
                 <tr>
                     <th>Price Per Week</th>
                     <th>Population</th>
                     <th>Monthly Income</th>
                     <th>Average Parking Per Week</th>
                     <th>No. Of Rides</th>
                 </tr>
                 {% for r in res %}
                 <tr>
                     <td>{{r.ppw}}</td>
                     <td>{{r.pn}}</td>
                     <td>{{r.mi}}</td>
                     <td>{{r.appm}}</td>
                     <td>{{r.result}}</td>
                 </tr>

                 {% endfor %}

             </table>
         </form>
</body>
</html>